<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mex">
                    <serviceMetadata/>
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WindowsFormsApplication11.Service1" behaviorConfiguration="mex">
                <endpoint address="" binding="wsHttpBinding" contract="WindowsFormsApplication11.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <endpoint address="mex1" kind="mexEndpoint" binding="mexTcpBinding"/>
                <endpoint address="net.tcp://localhost:8002/Service1/mex2" kind="mexEndpoint" binding="mexTcpBinding"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/WindowsFormsApplication11/Service1/" />
                        <add baseAddress="net.tcp://localhost:8001/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
